/*<meta />*/

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #5688ad;
}

a:link
{
	color: #5688ad;
}

a:visited
{
	color: #5688ad;
}

a:hover
{
	color: #5688ad;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #5688ad;
}

div.example_label
{
	background-repeat: no-repeat;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #ffffff;
	font-size: 11pt;
	width: 75px;
	left: 25px;
	padding: 1px;
	padding-left: 5px;
	margin-right: 90%;
	top: 25px;
	background-color: #5688ad;
	border: solid 1px #5688ad;
	right: 15px;
	margin-bottom: 10px;
	position: relative;
	margin-top: 6px;
	z-index: 1;
}

div.GlossaryPageDefinition
{
	
}

div.GlossaryPageHeading
{
	
}

div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.note
{
	background-repeat: no-repeat;
	border-radius: 6px;
	padding-bottom: 10px;
	padding-top: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 10px;
	font-size: 11pt;
	padding-left: 65px;
	margin-right: 2px;
	padding-right: 0px;
	background-image: none;
	border: solid 1px #f2f2f2;
	background-color: #aaaaaa;
	color: #252c30;
	mc-auto-number-format: '{color #000000}{b}Note: {/b}{/color}';
}

.noteInDiv
{
	font-size: 1em;
}

div.quotation
{
	background-color: #e1e1e1;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 20px;
	padding-left: 40px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

div.TightContent
{
	margin: 0;
	padding: 0;
	line-height: 1em;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-size: 24pt;
	color: #00649d;
	font-weight: normal;
}

h1.Appendix
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	margin-bottom: 4px;
	margin-top: 20px;
	color: #00649d;
	font-size: 17pt;
	font-weight: normal;
}

h3
{
	margin-bottom: 4px;
	margin-top: 16px;
	color: #00649d;
	font-size: 14pt;
	font-weight: normal;
}

img.AbsolutePosition
{
	padding: 5px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
	margin-left: 6px;
	font-size: 1em;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	mc-breadcrumbs-count: 10;
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	font: arial;
	mc-closed-image: url('../Images/CSS Images/CSS_Triangle-arrow-right.gif');
	mc-open-image: url('../Images/CSS Images/CSS_Triangle-arrow-down.gif');
	font-size: 1em;
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/CSS Images/CSS_DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/Madcap Images/DropDownOpenSecondLevel.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #5688ad;
	font-size: 1em;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0;
}

MadCap|dropDownHead
{
	font: arial;
	margin-top: 6px;
	font-size: 1em;
}

MadCap|dropDownHotspot
{
	color: #5688ad;
	font: arial;
	font-weight: 100;
	font-size: 1.1em;
}

MadCap|dropDownHotspot:hover
{
	color: #2f5977;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	mc-image: none;
	font-size: 0.75em;
}

MadCap|popup
{
	color: #58bfc4;
	position: relative;
	z-index: 100;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	font-weight: bold;
	color: #5688ad;
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	mc-format: '{para}';
	text-decoration: underline;
	color: #5688ad;
	font-weight: normal;
}

MadCap|xref:hover
{
	color: #2f5977;
	position: relative;
	z-index: 1;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	
}

ol ol
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol ol ol
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 1em;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.ExampleHeadText
{
	font-weight: bold;
	page-break-after: avoid;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
	border: 0;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.GlossaryPrintHead
{
	
}

p.IndexHeading
{
	
}

p.IndexPrintHead
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	font-size: 11pt;
}

p.quotationname
{
	text-align: right;
}

p.TableCaption
{
	
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextHeadDark
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	line-height: normal;
}

th
{
	font-size: 11pt;
	margin-top: 8px;
	margin-bottom: 8px;
}

tr
{
	
}

ul
{
	line-height: normal;
	list-style-image: none;
	font-size: 1em;
}

ul ul
{
	margin-left: -10px;
	background-image: none;
	list-style-image: none;
	list-style-type: disc;
}

html.templateTopic div.sideContent
{
	display: none;
}

div.ContentRow
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.ContentRow::before
{
	content: ' ';
	display: table;
}

div.ContentRow::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.ContentRow > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.ContentRow > div:nth-child(1)
{
	width: 58.333%;
	margin-left: 0%;
}

div.ContentRow > div:nth-child(2)
{
	width: 33.333%;
	margin-left: 8.3333%;
}

h4
{
	font-size: 18pt;
	color: #5688ad;
	font-weight: normal;
}

h5
{
	color: #000000;
	font-size: 16pt;
	font-weight: normal;
}

h6
{
	font-size: 16pt;
	font-weight: normal;
	color: #5688ad;
}

table
{
	font-size: 11pt;
	table-layout: fixed;
	border-spacing: 0;
	padding: 0px;
}

thead
{
	font-size: 11pt;
	color: #ffffff;
	border-spacing: 2px;
	text-transform: none;
	text-align: center;
	background-color: #5688ad;
}

tbody
{
	font-size: 11pt;
	text-align: left;
	margin-left: 2px;
	table-layout: fixed;
	padding: 2px;
}

div
{
	text-transform: none;
	font-size: 11pt;
}

MadCap|glossaryTerm
{
	color: #5688ad;
}

MadCap|menuProxy
{
	mc-image: none;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #5688ad;
}

MadCap|glossaryTerm.Popup
{
	z-index: 100;
	position: relative;
}

MadCap|popupBody
{
	
}

img
{
	vertical-align: text-bottom;
}

a.Popup
{
	
}

ul > li::marker
{
	
}

li::marker
{
	
}

ol > li::marker
{
	
}

MadCap|slideshowCaption
{
	padding-top: 50px;
}

object
{
	padding-bottom: 50px;
}

span.state
{
	
}

MadCap|equation
{
	vertical-align: middle;
	font-size: 1em;
}

MadCap|conditionalText
{
	mc-conditions: 'Note To Selfs.ScreenOnly';
}

div.warning_content
{
	background-color: #ffffff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	position: relative;
	color: #252c30;
	padding: 10px;
	border: solid 1px #e90404;
	z-index: 0;
}

div.warning_label
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	color: #ffffff;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 90%;
	padding: 1px;
	padding-left: 5px;
	left: 25px;
	position: relative;
	right: 15px;
	top: 25px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 65px;
	background-color: #e90404;
	border: solid 1px #e90404;
	z-index: 1;
}

ol.FirstLevelBlueBullet
{
	font-size: 1em;
}

.stepList ol
{
	font-size: 1em;
}

.stepList ol ol
{
	font-size: 1em;
}

.stepList ol ol ol
{
	font-size: 1em;
}

MadCap|snippetBlock
{
	font-size: 1em;
}

span.SearchHighlight
{
	background-color: #ece87e;
}

@media print
{
	body
	{
		font-size: 8pt;
		line-height: 13px;
		margin: 8px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom-color: #5688AD;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #5688AD;
		font-size: 11pt;
	}

	div.GlossaryPageTerm
	{
		color: #5688AD;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	div.note
	{
		padding-bottom: 20px;
	}

	h1
	{
		color: #5688AD;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:CHAPTER {chapnum} ';
		padding-left: 0;
		padding-top: 0;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'APPENDIX ';
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
	}

	h2
	{
		font-size: 12pt;
		font-weight: normal;
		line-height: 14pt;
		page-break-before: avoid;
	}

	h3
	{
		font-size: 10pt;
		font-weight: normal;
		line-height: 12pt;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		line-height: 11pt;
		mc-heading-level: 0;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 8pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #5688AD;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top: 0;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	MadCap|xref
	{
		color: #404040;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #5688AD;
	}

	nav.tab-bar,
	div.sideContent
	{
		display: none;
	}

	ol ol
	{
		margin-left: 30px;
	}

	ol ol ol
	{
		margin-left: 30px;
	}

	p
	{
		font-size: 8pt;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		color: #e1e1e1;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.GlossaryPrintHead
	{
		color: #47484a;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.IndexPrintHead
	{
		color: #47484a;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		color: #5688AD;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		color: #5688AD;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
	}

	p.TOC2
	{
		color: #e1e1e1;
		font-size: 10pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
	}

	p.TOC3
	{
		color: #e1e1e1;
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
	}

	p.TOC4
	{
		color: #5688AD;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
	}

	p.TOCHeading
	{
		color: #47484a;
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 0;
		text-align: center;
	}

	span.ChapAutoNum
	{
		color: #47484a;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
	}

	span.FigureNum
	{
		color: #5688AD;
		font-style: normal;
	}

	span.TableNum
	{
		color: #5688AD;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		list-style-image: url('../Images/Bullet1Print.eps');
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../Images/Bullet1Print.eps');
		margin-left: 30px;
	}

	ul ul
	{
		margin-left: 30px;
		list-style-image: url('../Images/MG_Bullet04.png');
	}

	div.tip_label
	{
		
	}

	div.warning_label
	{
		color: #ffffff;
		background: #ff0000;
		background-repeat: no-repeat;
		vertical-align: middle;
		border: solid 2px #ff0000;
		border-radius: 6px;
		border-bottom-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		margin-bottom: 10px;
		margin-right: 90%;
		padding: 1px;
		left: 25px;
		position: relative;
		right: 15px;
		top: 25px;
		width: 50px;
		z-index: -1;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}

	div.note_content
	{
		
	}

	div.warning_content
	{
		color: #252c30;
		background-color: #ffffff;
		border: solid 2px #ff0000;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-top-width: 1px;
		padding: 10px;
		position: relative;
		z-index: -2;
	}
}

@media tablet
{
	div.ContentRow > div:nth-child(1)
	{
		width: 66.66667%;
		margin-left: 0%;
	}

	div.ContentRow > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media mobile
{
	div.ContentRow > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.ContentRow > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

ul ul ul
{
	list-style-image: none;
}

div.example_content
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px 10px 10px 10px;
	border: solid 1px #5688ad;
	z-index: 0;
}

div.example_content_in_list
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px 10px 10px 10px;
	border: solid 1px #5688ad;
	width: 95%;
	z-index: 0;
}

div.tip
{
	font: century gothic;
	font-size: 11pt;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom-color: #b3b3b3;
	border-radius: 6px;
	padding: 20px;
	padding-left: 65;
	background-image: none;
	background-color: #777777;
	color: #ffffff;
	border: solid 1px #777777;
}

div.textbox
{
	margin-bottom: 10px;
	padding: 20;
	border: solid 2px #58bfc4;
	border-radius: 6px;
	border-width: 1px;
}

img.ReduceButtonSize
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 300px;
}

div.note_label
{
	background-repeat: no-repeat;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #ffffff;
	font-size: 11pt;
	left: 25px;
	position: relative;
	padding: 1px;
	padding-left: 5px;
	margin-right: 90%;
	top: 25px;
	right: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 50px;
	background-color: #a14f9e;
	border: solid 1px #a14f9e;
	z-index: 1;
}

div.note_content
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	border: solid 1px #a14f9e;
	z-index: 0;
}

ul.TableListBullets
{
	text-indent: 3px;
	list-style-image: url('../Images/MG_Bullet01.png');
	padding-left: 5px;
	margin-left: auto;
}

img.LargeImages
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 300px;
}

ul.FirstLevelBlueBullet
{
	line-height: 14pt;
	list-style-type: none;
	font-size: 1em;
}

ul.FirstLevelBlueBullet > li
{
	margin-bottom: 6px;
	orphans: 2;
	widows: 2;
	font-size: 1em;
	display: block;
	mc-auto-number-format: '{color #5688ad}{b}•   {/b}{color}';
	margin-left: 4px;
	margin-top: 6px;
}

li.FirstLevelBlueBullet
{
	margin-bottom: 6px;
	orphans: 2;
	widows: 2;
	display: block;
	mc-auto-number-format: '{color #5688ad}{b}•   {/b}{color}';
	margin-left: 4px;
	margin-top: 6px;
	font-size: 1em;
}

ul.Test2
{
	
}

li.test2
{
	mc-auto-number-format: '{color #58BFC4}{b}•   {/b}{color}';
	display: block;
	margin: 6;
}

li.test3
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
	list-style-type: decimal;
	margin-left: 4px;
	font-size: 1em;
}

ul.nolist
{
	
}

b.BufferandFunctionBold
{
	font-weight: bold;
}

.stepList
{
	margin-left: 8px;
	width: 100%;
	list-style-type: none;
	font-size: 1em;
}

.stepList p
{
	margin: 0;
	padding: 0;
}

.stepList > li
{
	margin: 8px;
	margin-left: -40px;
	margin-top: 40px;
	padding: 0 0 0 42px;
	border-top: 1px solid #d2611b;
	position: relative;
	min-height: 32px;
	left: 0;
}

.stepList > li:before
{
	color: white;
	counter-increment: step;
	content: counter(step);
	background-color: #d2611b;
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	/* Firefox */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}

.stepList ol,
ol ol
{
	padding-top: 10px;
	margin-left: 0px;
	list-style-type: upper-alpha;
}

.stepList ol ol,
ol ol ol
{
	list-style-type: lower-roman;
}

.stepList ol ol ol,
ol ol ol ol
{
	list-style-type: lower-alpha;
}

.stepList .dropDown
{
	margin: 0 0 0 -10px;
}

.stepList:first-of-type
{
	counter-reset: step;
}

ol
{
	margin-left: 1em;
	list-style-type: decimal;
	position: relative;
}

MadCap|dropDown.DropDowninExample
{
	margin-bottom: 6px;
	margin-top: 6px;
	font: arial;
	mc-closed-image: url('../Images/CSS Images/CSS_Triangle-arrow-right.gif');
	mc-open-image: url('../Images/CSS Images/CSS_Triangle-arrow-down.gif');
	z-index: 1;
	font-size: 1em;
}

div.note_content_in_list
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	border: solid 1px #a14f9e;
	width: 95%;
	z-index: 0;
}

MadCap|equation.VerticalAlignment
{
	vertical-align: middle;
	padding-bottom: 10;
}

h2.indropdown
{
	font: inherit;
}

img.Responsive
{
	width: 100%;
}

img.Static
{
	width: 900;
}

div.caption
{
	font-size: 80%;
	float: right;
	page-break-inside: avoid;
	padding: 10px;
	margin: 10px;
	border: solid 1px transparent;
	background-color: #d3d3d3;
}

img.MaxWidth100Percent
{
	width: 100%;
}

img.MaxWidth75Percent
{
	width: 75%;
}

img.MaxWidth50PerCent
{
	width: 50%;
}

[data-mc-conditions*="Note"]
{
	background-color: #13f00b;
}

div.tip_label
{
	background-repeat: no-repeat;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #ffffff;
	font-size: 11pt;
	left: 25px;
	position: relative;
	padding: 1px;
	padding-left: 5px;
	margin-right: 90%;
	top: 25px;
	right: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 50px;
	border: solid 1px #40ac76;
	background-color: #40ac76;
	font-style: italic;
	z-index: 1;
}

div.tip_content
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	border: solid 1px #40ac76;
	font-style: italic;
	z-index: 0;
}

img.ReduceButtonSize_750px
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 750px;
}

img.MaxWidth90Percent
{
	width: 90%;
}

img.ReduceButtonSize_800px
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 800px;
}

img.ReduceButtonSize_850px
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 850px;
}

div.tip_content_in_table
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	border: solid 1px #40ac76;
	font-style: italic;
	z-index: 0;
}

div.tip_label_in_table
{
	background-repeat: no-repeat;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #ffffff;
	font-size: 11pt;
	left: 25px;
	position: relative;
	padding-left: 5px;
	margin-right: 90%;
	top: 25px;
	right: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 50px;
	border: solid 1px #40ac76;
	background-color: #40ac76;
	font-style: italic;
	z-index: 1;
	padding: 5px;
}

img.Aligned_with_Centre_of_Row
{
	vertical-align: middle;
}

div.warning_label_in_table
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	color: #ffffff;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 90%;
	padding-left: 5px;
	left: 25px;
	position: relative;
	right: 15px;
	top: 25px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 65px;
	background-color: #e90404;
	border: solid 1px #e90404;
	z-index: 1;
	padding: 5px;
}

div.warning_content_in_table
{
	background-color: #ffffff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	position: relative;
	color: #252c30;
	border: solid 1px #e90404;
	z-index: 0;
	padding: 16px 10px 10px;
}

/* SFFS 6.00 - ".zoom4Detail" feature: adds magnifying glass functionality to an image for zooming in - replaces img.zoom4detail style */

.zoom4Detail
{
	position: relative;
	display: inline-block;
	border: 1px solid #e1e1e1;
	padding: 8px;
	margin: 8px;
	background-color: #fff;
	line-height: 0;
	max-width: 100%;
}

.zoom4Detail img
{
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 800px;
	mc-thumbnail-max-height: 450px;
	max-width: 100%;
}

.zoom4Detail a:before
{
	position: absolute;
	right: 0px;
	top: 0px;
	content: url('../Images/Search icon_orange triangle (002).png');
}

.zoom4Detail img:hover
{
	cursor: zoom-in;
}

#TopNav .hp-play-wrapper img.MCPopupFullImage
{
	mc-disabled: true;
	max-height: none !important;
	mc-thumbnail: none;
	cursor: default;
}

.MCPopupFullImage:hover
{
	cursor: zoom-out;
}

/* end of .zoom4details feature styles */
/* "cf": used for changing to a different image file when hovering over an image - 'cf' stands for 'change file' */

#cf
{
	position: relative;
	height: 125px;
	width: 150px;
	margin: 0 auto;
}

#cf img
{
	position: absolute;
	left: 0;
}

#cf img.top:hover
{
	opacity: 0;
}

div.note_content_short_width
{
	color: #252c30;
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	border: solid 1px #a14f9e;
	z-index: 0;
	width: 550px;
}

MadCap|miniTocProxy.WorktableMenu
{
	mc-image: none;
	font-size: 0.75em;
	position: relative;
	left: 0px;
	top: 0px;
}

MadCap|miniTocProxy.NAVGrey
{
	mc-image: none;
	font-size: 0.75em;
	background: #dcdcdc;
	border: solid 2px #000000;
	mc-output-support: all;
}

h1._orange
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-size: 24pt;
	color: #d2611b;
	font-weight: lighter;
}

MadCap|dropDownHead._orange
{
	font: arial;
	font-size: 12pt;
	margin-top: 6px;
	color: #d2611b;
	font-weight: lighter;
}

h2._orange
{
	color: #d2611b;
	font-weight: lighter;
}

h3._orange
{
	color: #d2611b;
	font-weight: lighter;
}

MadCap|breadcrumbsProxy._grey
{
	color: #bdbdbd;
}

MadCap|dropDownHotspot._orange
{
	color: #d2611b;
	font-weight: lighter;
}

div.note_label_grey
{
	background-repeat: no-repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 11pt;
	left: 25px;
	position: relative;
	margin-right: 90%;
	top: 25px;
	right: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 50px;
	z-index: 1;
	background-color: #ffffff;
	color: #252c30;
	border: none 1px #252c30;
	padding-left: 0;
	padding: 0;
	padding-right: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 0;
	border-left: none 1px #bdbdbd;
}

div.note_content_orangeoutline
{
	font-size: 11pt;
	background-color: #ffffff;
	border-radius: 6px;
	position: relative;
	padding-right: 10px;
	padding: 10px;
	z-index: 0;
	border: solid 1px #d2611b;
	color: #252c30;
}

MadCap|dropDown.GreyCircle
{
	margin-bottom: 6px;
	margin-top: 6px;
	font: arial;
	font-size: 1em;
	mc-closed-image: url('../Images/CSS Images/CSS_DropdownGreyCircle.png');
	mc-open-image: url('../Images/CSS Images/CSS_MG Drop Down Open Grey.jpg');
}

img.greyborder
{
	vertical-align: text-bottom;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}

span.ButtonArrows::before
{
	content: "<";
}

span.ButtonArrows::after
{
	content: ">";
}

li.BlueBulletLessIndentation
{
	margin-bottom: 6px;
	orphans: 2;
	widows: 2;
	display: block;
	mc-auto-number-format: '{color #5688ad}{b}•   {/b}{color}';
	margin-top: 6px;
	font-size: 1em;
	padding-left: 0px;
	margin-left: -5px;
}

p.MG_Staff_use_only
{
	color: #ff0000;
}

ul.SecondLevel
{
	
}

ul.SecondLevel > li > ol
{
	list-style-type: lower-alpha;
	list-style-image: none;
}

ul.SecondLevel > li > ol > li::marker
{
	content: counter(SecondLevel);
}

MadCap|dropDownHead.AccordionDrop
{
	font: arial;
	display: block;
	border: none 0px transparent;
	position: relative;
	padding-right: 35px;
	margin-top: 3px;
	padding: 3px 0px 1px 15px;
	font-weight: bold;
	font-size: 1em;
}

div.AccordionGroup
{
	display: block;
	margin-top: 10px;
}

div.AccordionDrop
{
	border-style: inherit;
	display: block;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	margin-bottom: 0px;
	border: solid 1px #c7c7c7;
	box-shadow: 1px 1px;
	padding: 0px;
}

MadCap|dropDown.AccordionDropDown
{
	display: block;
	border-bottom-color: #696969;
	border: none 0px #696969;
	border-left: none 0px #696969;
	padding: 0px;
	mc-image-position: left;
	mc-image-spacing: 5px;
	mc-closed-image: url('../Images/CSS Images/CSS_Triangle-arrow-right.gif');
	mc-open-image: url('../Images/CSS Images/CSS_Triangle-arrow-down.gif');
}

MadCap|dropDownBody.AccordionDropDown
{
	display: block;
	padding: 0px;
	margin: 0px;
	border: none 0px #7e7c7c;
	border-bottom: none 0px #7e7c7c;
	border-left: none 0px #7e7c7c;
	border-bottom-color: #7e7c7c;
}

MadCap|dropDownHotspot.AccordionDrop
{
	font-style: italic;
	color: #383737;
	font-weight: lighter;
}

